aioaria2
aiofiles
aioqbt
aioshutil
anytree
apscheduler
asyncio
cloudscraper
dnspython
ElectroCrypto
fastapi
feedparser
gallery-dl
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
gunicorn
httpx
jinja2
lxml
natsort
par2cmdline-turbo
pillow
psutil
pymongo
kurigram
python-magic
requests
speedtest-cli
telegraph
tenacity
urllib3
uvicorn
uvloop
xattr
yt-dlp[default,curl-cffi]   